*{
    background-color: bisque;
}

h1{
    background-color: aquamarine;
    color: cornflowerblue;
    text-align: center;
    border-style: dotted;
    width: 500px;
    margin-left: 400px;
}

h2{
    background-color: aquamarine;
    color: cornflowerblue;
    text-align: center;
    border-style: groove;
    width: 500px;
    margin-left: 400px;
}

ul{
    color: cadetblue
}

ol{
    border-style: groove;
    width: 450px;
    margin-left: 400px;
    
}

h3{
    background-color: aquamarine;
    color: cornflowerblue;
    text-align: center;
    border-style: ridge;
    width: 500px;
    margin-left: 400px;
}

